@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

/* Firefly animation */
.firefly {
  position: absolute;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  top: calc(100% * var(--i));
  left: calc(100% * var(--j));
  animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
}










@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-typewriter {
  animation: typewriter 2s steps(20, end) 0.5s forwards;
  width: 0;
  display: inline-block;
  overflow: hidden;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

.animate-fadeDelay {
  opacity: 0;
  animation: fadeIn 1s ease-out 2.2s forwards;
}
